<%- include("header") -%>
  <form class="IconUpper" action="/" method="get">
    <button type="submit">
      <i class="fas fa-home fa-3x IconUpperHover"></i>
    </button>
  </form>
  <div class="box" id="heading">
    <h1><%= listTitle %></h1>
  </div>
    <div class="box">
      <% for (var i = 0; i < newListItems.length; i++) { %>
      <div class="item fullLine">
        <div class="item">
          <p><%= newListItems[i].name %></p>
        </div>
        <div class="icons">
          <div class="undoIcon">
            <form class="formundoIcon" action="/returnFromHide" method="post">
              <input type="hidden" name="whichList" value=<%= newListItems[i].whichList %>>
              <input type="hidden" name="theItemId" value=<%= newListItems[i]._id %>>
              <button class="colorUndoIcon" type="submit" name="undoClick" value="<%= newListItems[i].name %>" >
                  <i class="fas fa-undo"></i>
              </button>
            </form>
          </div>
        </div>
      </div>
      <% } %>
    </div>

<%- include("footer") -%>
